{
  "osctrld": {
    "secret": "thisisthesecret",
    "secretFile": "/path/to/osquery.secret",
    "flagFile": "/path/to/osquery.flags",
    "environment": "environment_name_or_UUID",
    "url": "https://osctrl.url",
    "insecure": false,
    "verbose": false
  }
}
