[Unit]
Description=Daemon for osctrld, the fast and efficient osquery management
ConditionPathExists=/opt/osctrld
After=network.target

[Service]
Type=simple
User=osctrld
Group=osctrld
Restart=on-failure
RestartSec=10

WorkingDirectory=/opt/osctrld
ExecStart=/opt/osctrld/service --config=/etc/osctrld/service.json

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/osctrld
ExecStartPre=/bin/chown osctrld:osctrld /var/log/osctrld
ExecStartPre=/bin/chmod 755 /var/log/osctrld
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=osctrld

[Install]
WantedBy=multi-user.target
